.new {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* White background with 100% opacity */
  margin: 20px;
  padding: 20px;
}

.card {
  background-color: rgb(186, 155, 124); /* Specify the color without opacity */
  width: 400px;
  height: 100px;
  margin: 20px;
}
